# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to 
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [73]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings  
warnings.filterwarnings('ignore') #ignore unnecessary warnings
from selenium.webdriver.common.by import By

In [74]:
driver=webdriver.Chrome()

In [75]:
#opening webpage of shine
driver.get('https://www.shine.com/')

In [77]:
# entering designation and location
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [78]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [80]:
search_jobs=driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button[1]')
search_jobs.click()

In [81]:
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [84]:
#scraping job title from web page
title_tags=driver.find_elements(By.,'href')
for i in title_tags[0:10]:
 jobtitle =i.text
job_title.append(jobtitle)

#scraping location from web page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]"]')
for i in location_tags[0:10]:
 location=i.text
job_location.append(location)

#scraping company name from web page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[0:10]:
 company=i.text
company_name.append(company)

#scraping experience from web page
exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags[0:10]:
 exp=i.text
experience.append(exp)

NameError: name 'jobtitle' is not defined

In [58]:
print(len(job_title),len(job_location),len(company_name),len(experience))

0 0 0 0

In [85]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name': company_name,'Experience':experience})
df

Empty DataFrame
Columns: [Title, Location, Company_name, Experience]
Index: []

# Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to 
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [86]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings  
warnings.filterwarnings('ignore') #ignore unnecessary warnings
from selenium.webdriver.common.by import By

In [87]:
driver=webdriver.Chrome()

In [88]:
#opening webpage of naukri
driver.get('https://www.naukri.com/')

In [89]:
# entering designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [90]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [91]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [109]:
#scraping job title from web page
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags[0:9]:
 title=i.text
job_title.append(title)

#scraping location from web page
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:9]:
 location=i.text
job_location.append(location)

#scraping company name from web page
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags[0:9]:
 company=i.text
company_name.append(company)

#scraping experience from web page
exp_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp_tags[0:9]:
 exp=i.text
experience.append(exp)

In [110]:
print(len(job_title),len(job_location),len(company_name),len(experience))

10 10 10 10

In [111]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name': company_name,'Experience':experience})
df

,Title,Location,Company_name,Experience
0,ETL - Data Analyst,Bengaluru,2coms,5-10 Yrs
1,Online Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",TELUS International,1-4 Yrs
2,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
3,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
4,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
5,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
6,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
7,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
8,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
9,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs

# Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand 
2. ProductDescription 
3. Price 
The attributes which you have to scrape is ticked marked in the below image
To scrape the data you have to go through following steps: 
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and 
click the search icon 
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it. 
5. Now scrape data from this page as usual 
6. Repeat this until you get data for 100sunglasses. Note: That all of the above steps have to be done
by coding only and not manually.

In [142]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings  
warnings.filterwarnings('ignore') #ignore unnecessary warnings
from selenium.webdriver.common.by import By
import time

In [113]:
driver=webdriver.Chrome()

In [114]:
#opening webpage of flipkart
driver.get('https://www.flipkart.com/')

In [116]:
# entering sunglasses in search
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sunglasses')

In [117]:
search=driver.find_element(By.CLASS_NAME,'_2iLD__')
search.click()

In [118]:
brand=[]
product_description=[]
price=[]

In [135]:
#scraping job brand from web page
brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_name[0:40]:
 brands=i.text
brand.append(brands)

#scraping job product description from web page
product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product[0:40]:
 prod_des=i.text
product_description.append(prod_des)

#scraping job price from web page
product_price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in product_price[0:40]:
 cost=i.text
price.append(cost)

In [137]:
print(len(brand),len(product_description),len(price))

13 13 13

In [138]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'Product description':product_description,'Cost':price})
df

     Brand                      Product description  Cost
0   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
1   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
2   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
3   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
4   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
5   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
6   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
7   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
8   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
9   PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
10  PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
11  PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299
12  PIRASO  UV Protection Butterfly Sunglasses (60)  ₹299

In [144]:
start=0   #scrape data from page 1,2,3,4
end=3
for page in range(start,end):
 brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_name[0:40]:
 brands=i.text
brand.append(brands)

product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product[0:40]:
 prod_des=i.text
product_description.append(prod_des)

product_price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in product_price[0:40]:
 cost=i.text
price.append(cost)
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_button.click()
time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span"}
  (Session info: chrome=122.0.6261.95); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF69134AD22+56930]
	(No symbol) [0x00007FF6912BF622]
	(No symbol) [0x00007FF6911742E5]
	(No symbol) [0x00007FF6911B98ED]
	(No symbol) [0x00007FF6911B9A2C]
	(No symbol) [0x00007FF6911FA967]
	(No symbol) [0x00007FF6911DBCDF]
	(No symbol) [0x00007FF6911F81E2]
	(No symbol) [0x00007FF6911DBA43]
	(No symbol) [0x00007FF6911AD438]
	(No symbol) [0x00007FF6911AE4D1]
	GetHandleVerifier [0x00007FF6916C6AAD+3709933]
	GetHandleVerifier [0x00007FF69171FFED+4075821]
	GetHandleVerifier [0x00007FF69171817F+4043455]
	GetHandleVerifier [0x00007FF6913E9756+706710]
	(No symbol) [0x00007FF6912CB8FF]
	(No symbol) [0x00007FF6912C6AE4]
	(No symbol) [0x00007FF6912C6C3C]
	(No symbol) [0x00007FF6912B68F4]
	BaseThreadInitThunk [0x00007FF8358B257D+29]
	RtlUserThreadStart [0x00007FF836A2AA58+40]